capa==0.1
flare-capa==9.1.0
Flask==3.1.0
Flask-SQLAlchemy==3.1.1
greenlet==3.1.1
joblib==1.3.2
matplotlib==3.9.2
mysql-connector-python==9.2.0
numpy==1.24.4
pefile==2024.8.26
pytesseract==0.3.13
python-magic-bin==0.4.14
pyzipper==0.3.6
reportlab==4.2.5
requests==2.32.3
scikit-learn==1.3.0
scipy==1.14.1
SQLAlchemy==2.0.36
stringsifter==3.20230711
Werkzeug==3.1.3